$color_1: rgb(72, 72, 72);
$color_2: rgb(255, 255, 255);
$color_3: #2fcc71;
$color_4: #fff;
$font_family_1: 'icomoon';

@font-face {
	font-family: 'icomoon';
	src: url('~@/assets/fonts/icomoon.eot?w4fq7b');
	src: url('~@/assets/fonts/icomoon.eot?w4fq7b#iefix') format('embedded-opentype'),
	url('~@/assets/fonts/icomoon.ttf?w4fq7b') format('truetype'),
	url('~@/assets/fonts/icomoon.woff?w4fq7b') format('woff'),
	url('~@/assets/fonts/icomoon.svg?w4fq7b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"] {
	font-family: $font_family_1 !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*=" icon-"] {
	font-family: $font_family_1 !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-arrow-date-icon {
	&:before {
		content: "\e900";
	}
}
.icon-arrow-section-btn {
	&:before {
		content: "\e901";
	}
}
.icon-calendar-icon {
	&:before {
		content: "\e902";
	}
}
.icon-caret-down-icon {
	&:before {
		content: "\e903";
	}
}
.icon-chat-icon {
	&:before {
		content: "\e904";
	}
}
.icon-top-search-icon {
	&:before {
		content: "\e905";
	}
}
.icon-twitter-icon {
	.path1 {
		&:before {
			content: "\e906";
			color: $color_1;
		}
	}
	.path2 {
		&:before {
			content: "\e907";
			margin-left: -1em;
			color: $color_2;
		}
	}
}
.icon-verify-big-icon {
	&:before {
		content: "\e908";
		color: $color_3;
	}
}
.icon-verify-small-icon {
	&:before {
		content: "\e909";
	}
}
.icon-white-discount-icon {
	&:before {
		content: "\e90a";
		color: $color_4;
	}
}
.icon-youtube-icon {
	.path1 {
		&:before {
			content: "\e90b";
			color: $color_1;
		}
	}
	.path2 {
		&:before {
			content: "\e90c";
			margin-left: -1em;
			color: $color_2;
		}
	}
}
