@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w4fq7b');
  src:  url('fonts/icomoon.eot?w4fq7b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w4fq7b') format('truetype'),
    url('fonts/icomoon.woff?w4fq7b') format('woff'),
    url('fonts/icomoon.svg?w4fq7b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-date-icon:before {
  content: "\e900";
}
.icon-arrow-section-btn:before {
  content: "\e901";
}
.icon-calendar-icon:before {
  content: "\e902";
}
.icon-caret-down-icon:before {
  content: "\e903";
}
.icon-chat-icon:before {
  content: "\e904";
}
.icon-top-search-icon:before {
  content: "\e905";
}
.icon-twitter-icon .path1:before {
  content: "\e906";
  color: rgb(72, 72, 72);
}
.icon-twitter-icon .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-verify-big-icon:before {
  content: "\e908";
  color: #2fcc71;
}
.icon-verify-small-icon:before {
  content: "\e909";
}
.icon-white-discount-icon:before {
  content: "\e90a";
  color: #fff;
}
.icon-youtube-icon .path1:before {
  content: "\e90b";
  color: rgb(72, 72, 72);
}
.icon-youtube-icon .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
