.home {
	&__section {
		margin-top: 70px;
	}

	&__see-more {
		margin-top: 16px;
		font-size: 16px;
		line-height: 24px;
	}

	&__comments {
		margin-top: 24px;
	}

	&__footer {
		margin-top: 78px;
		padding-bottom: 70px;
	}
}