.container {
	width: calc(100% - 20%);
	margin: auto;

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.lg-col-3 {
			width: 100%;
			margin-right: 22px;
		}

		.lg-col-3:last-child {
			margin: 0px;
		}
	}
}