<template>
  <div class="home">
    <div class="row home__section">
        <title-complex 
            :title="data.suggestedHelpList.titleList.title"
        />
    </div>
    <div class="row mt-24">
        <div class="lg-col-3 pointer" v-for="suggestedHelp in data.suggestedHelpList.list">
            <horizol-product
                v-bind:thumbImg="suggestedHelp.thumbImg"
                v-bind:title="suggestedHelp.title"
                v-bind:priceInfo="suggestedHelp.priceInfo"
            />
        </div>
    </div>

    <div class="row  home__section">
        <title-complex 
            :title="data.aroundLocationsList.titleList.title"
        />
    </div>

    <div class="row mt-24">
        <carousel
            class="full-w rel"
            :items=4
            :margin=22
            :nav=false
            :dots=false
        >
            <template slot="prev">
                <carousel-caret
                    :left=true
                    :topPosition=281
                />  
            </template>
            <vertical-product
                v-for="location in data.aroundLocationsList.list"
                v-bind:bgImg="location.bgImg"
                v-bind:locationName="location.locationName"
                v-bind:priceInfo="location.priceInfo"
                v-bind:roomAmount="location.roomAmount"
            /> 
            <template slot="next">
                <carousel-caret
                    :left=false
                    :topPosition=281
                />
            </template>
        </carousel>
    </div>


    <div class="row  home__section">
        <title-complex 
            :title="data.screenHomeStayList.titleList.title"
            :des="data.screenHomeStayList.titleList.des"
            :isHavingIcon="true"
        />
    </div>

    <div class="row mt-24">
        <carousel
            class="full-w rel"
            :items=5
            :margin=24
            :nav=false
            :dots=false
        >
            <template slot="prev">
                <carousel-caret
                    :left=true
                    :topPosition=66
                />  
            </template>
            <product-card
                v-for="product in data.screenHomeStayList.list"
                v-bind:bgImg="product.bgImg"
                v-bind:houseStyle="product.houseStyle"
                v-bind:houseType="product.houseType"
                v-bind:houseName="product.houseName"
                v-bind:rateNumber="product.rateNumber"
                v-bind:price="product.price"
                v-bind:location="product.location"
                v-bind:isFlash="product.isFlash"
            /> 
            <template slot="next">
                <carousel-caret
                    :left=false
                    :topPosition=66
                />
            </template>
        </carousel>

    </div>

    <div class="row  home__see-more">
        <span class="mont ui-color-10 pointer">Xem thêm</span>
    </div>


    <div class="row  home__section">
        <title-complex 
            :title="data.oceanHomeStayList.titleList.title"
            :des="data.oceanHomeStayList.titleList.des"
            :isHavingIcon="true"
        />
    </div>

    <div class="row mt-24">
        <carousel
            class="full-w rel"
            :items=5
            :margin=24
            :nav=false
            :dots=false
        >
            <template slot="prev">
                <carousel-caret
                    :left=true
                    :topPosition=66
                />  
            </template>
            <product-card
                v-for="product in data.oceanHomeStayList.list"
                v-bind:bgImg="product.bgImg"
                v-bind:houseStyle="product.houseStyle"
                v-bind:houseType="product.houseType"
                v-bind:houseName="product.houseName"
                v-bind:rateNumber="product.rateNumber"
                v-bind:price="product.price"
                v-bind:location="product.location"
                v-bind:isFlash="product.isFlash"
            /> 
            <template slot="next">
                <carousel-caret
                    :left=false
                    :topPosition=66
                />
            </template>
        </carousel>
    </div>

    <div class="row  home__see-more">
        <span class="mont ui-color-10 pointer">Xem thêm</span>
    </div>


    <div class="row  home__section">
        <title-complex 
            :title="data.activityList.titleList.title"
            :isHavingIcon="true"
        />
    </div>

    <div class="row mt-24">
        <carousel
            class="full-w rel"
            :items=2
            :margin=21
            :nav=false
            :dots=false
        >
            <template slot="prev">
                <carousel-caret
                    :left=true
                    :topPosition=152
                />  
            </template>
            <simple-card
                v-for="activity in data.activityList.list"
                v-bind:bgImg="activity.bgImg"
                v-bind:count="activity.count"
                v-bind:des="activity.des"
            />
            <template slot="next">
                <carousel-caret
                    :left=false
                    :topPosition=152
                />
            </template>
        </carousel>
    </div>

    <div class="row  home__section">
        <title-complex 
            :title="data.experienceList.titleList.title"
            :des="data.oceanHomeStayList.titleList.des"
            :isHavingIcon="true"
        />
    </div>

    <div class="row mt-24">
        <carousel
            class="full-w rel"
            :items=4
            :margin=21
            :nav=false
            :dots=false
        >
            <template slot="prev">
                <carousel-caret
                    :left=true
                    :topPosition=102
                />  
            </template>
            <simple-card
                v-for="activity in data.experienceList.list"
                v-bind:bgImg="activity.bgImg"
                v-bind:count="activity.count"
                v-bind:des="activity.des"
                v-bind:isShort="true"
            />
            <template slot="next">
                <carousel-caret
                    :left=false
                    :topPosition=102
                />
            </template>
        </carousel>
    </div>

    <div class="row  home__see-more">
        <span class="mont ui-color-10 pointer">Xem thêm</span>
    </div>


    <div class="row  home__section">
        <title-complex 
            :title="data.oceanHomeStayList.titleList.title"
            :des="data.oceanHomeStayList.titleList.des"
            :isHavingIcon="true"
        />
    </div>
    
  </div>
</template>

<script>
    import '../sass/main.scss'
    import HorizolProduct from '@/components/HorizolProduct.vue'
    import VerticalProduct from '@/components/VerticalProduct.vue'
    import CarouselCaret from '@/components/CarouselCaret.vue'
    import TitleComplex from '@/components/TitleComplex.vue'
    import ProductCard from '@/components/ProductCard.vue'
    import SimpleCard from '@/components/SimpleCard.vue'
    import carousel from 'vue-owl-carousel'


    export default {
        name: 'Home',
        components: {
            'horizol-product': HorizolProduct,
            'vertical-product': VerticalProduct,
            'carousel-caret': CarouselCaret,
            'title-complex': TitleComplex,
            'product-card': ProductCard,
            'simple-card': SimpleCard,
            carousel,
        },
        data () {
            return {
                data: {
                    suggestedHelpList: {
                        titleList: {
                            title: 'Luxstay có thể giúp gì cho bạn ?'
                        },

                        list: [
                            {
                                thumbImg: 'https://i.ibb.co/7bSyqtv/help-suggest.jpg',
                                title: 'Cặp đôi và Gia đình',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm'
                            },
                            {
                                thumbImg: 'https://i.ibb.co/7bSyqtv/help-suggest.jpg',
                                title: 'Cặp đôi và Gia đình',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm'
                            },
                            {
                                thumbImg: 'https://i.ibb.co/7bSyqtv/help-suggest.jpg',
                                title: 'Cặp đôi và Gia đình',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm'
                            },
                            {
                                thumbImg: 'https://i.ibb.co/7bSyqtv/help-suggest.jpg',
                                title: 'Cặp đôi và Gia đình',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm'
                            }
                        ]
                    },
                    aroundLocationsList: {
                        titleList: {
                            title: 'Địa điểm du lịch xung quanh bạn'
                        },

                        list: [
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/JcbYcvM/chua-bai-dinh-ivivu-1.png',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },                        
                            {
                                bgImg: 'https://i.ibb.co/XSg0RJc/by3dpc95utljiknmzcvh.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/JcbYcvM/chua-bai-dinh-ivivu-1.png',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },                        
                            {
                                bgImg: 'https://i.ibb.co/zrL8Snc/19419200078-506e74a9a8-b.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/JcbYcvM/chua-bai-dinh-ivivu-1.png',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },                        
                            {
                                bgImg: 'https://i.ibb.co/zrL8Snc/19419200078-506e74a9a8-b.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                            {
                                bgImg: 'https://i.ibb.co/JcbYcvM/chua-bai-dinh-ivivu-1.png',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },                        
                            {
                                bgImg: 'https://i.ibb.co/zrL8Snc/19419200078-506e74a9a8-b.jpg',
                                locationName: 'Vĩnh Phúc',
                                priceInfo: 'Giá từ 1,864,958 đ/đêm',
                                roomAmount: '475 Căn hộ'
                            },
                        ]
                    },
                    
                    screenHomeStayList: {
                        titleList: {
                            title: 'Địa điểm du lịch xung quanh bạn',
                            des: 'Khám phá những ngôi nhà được nhiều người yêu thích nhất tại Luxstay !'
                        },
                        list: [
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: false
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },{
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            }
                        ]
                    },

                    oceanHomeStayList: {
                        titleList: {
                            title: 'Homestay bờ biển',
                            des: 'Dịch vụ được phục vụ bởi gia chủ và các nhà hàng lân cận homestayà bạn lựa chọn'
                        },
                        list: [
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: false
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },{
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                houseStyle: 'SEA HOUSE',
                                houseType: 'VILLA',
                                houseName: 'Hoa Binh Ecolodge - Deluxe',
                                rateNumber: '146 đánh giá',
                                price: '1,864,958 đ/night',
                                location: 'Nha Trang, Khánh Hòa',
                                isFlash: true
                            }
                        ]
                    },

                    activityList: {
                        titleList: {
                            title: 'Những hoạt động có thể trải nghiệm tại Hà Nội',
                        },
                        list: [
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            }
                        ]
                    },

                    experienceList: {
                        titleList: {
                            title: 'Những trải nghiệm nhiều người yêu thích',
                            des: 'Khám phá nhưng ngôi nhà được nhiều người yêu thích nhất tại Luxstay!',
                        },
                        list: [
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },
                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            },

                            {
                                bgImg: 'https://i.ibb.co/VNPRR8K/Halong-Bay-Vung-Vieng-fishing-village13.jpg',
                                count: 'HƠN 200 TRẢI NGHIỆM',
                                des: 'Discover Victorian flats, SoMa lofts, and more verified homes in a city where invention meets counterculture.'

                            }
                        ]
                    }
                }
            }
        }
    }
</script>
