.c-product-card {
	height: 370px;

	&__img {
		height: 188px;
	}

	&__info-1 {
		padding-top: 10px;
	}

	&__info-2 {
		font-size: 12px;
		line-height: 20px;
	}

	&__info-3 {
		position: relative;
		top: -3px;
	}

	&__info-4 {
		font-size: 14px;
		line-height: 19px;
		padding-left: 8px;
	}

	&__title {
		font-size: 16px;
		line-height: 24px;
		padding-top: 2px;
	}

	&__stars {
		li {
			margin-right: 4px;
		}
	}

	&__number-rates {
		font-size: 12px;
		line-height: 16px;
	}

	&__rates {
		margin-top: 11px;
	}

	&__info-5 {
		margin-top: 19px;
	}
}