<template>
  <div class="c-app-introduction">
    <div
      class="c-app-introduction__logo bg-cover"
      v-bind:style="{
        backgroundImage: 'url(' + appIntro.logo + ')'
      }"
    ></div>

    <p class="c-app-introduction__title mont-bold ui-color-02">
      {{appIntro.slogan}}
    </p>

    <p class="c-app-introduction__des mont-medium ui-color-05">
      {{appIntro.des}}
    </p>

    <div class="c-app-introduction__images row-start-center">
      <div
        class="c-app-introduction__img left bg-cover pointer"
        v-bind:style="{
          backgroundImage: 'url(' + appIntro.iosImage + ')'
        }"
      ></div>
      <div
        class="c-app-introduction__img right  bg-cover pointer"
      v-bind:style="{
        backgroundImage: 'url(' + appIntro.androidImage + ')'
      }"
      ></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AppIntroduction',
    props: {
      appIntro: {
        logo: '',
        slogan: '',
        des: '',
        iosImage: '',
        androidImage: ''
      }
    },
    created () {
      this.appIntro = this.$props.appIntro
    }
  }
</script>
