<template>
  <div
	class="c-carousel-caret col-center-center abs shadow-1 index-2 border-1"
	v-bind:style="positionCaret"
  >
	<span class="icon-verify-big-icon">
	</span>
  </div>
</template>

<script>
	export default {
	    name: 'CarouselCaret',

	    props: {
	      left: true,
	      topPosition: 0,
	    },

	    created () {
	      this.left = this.$props.left
	      this.topPosition = this.$props.topPosition
	    },

	    computed: {
	    	positionCaret() {
	    		if (this.$props.left) return { top: this.topPosition + 'px', left: -28 + 'px'}
	    			return  { top: this.topPosition + 'px', right: -28 + 'px'}
	    	}
	    }
	}
</script>
