<template>
  <div class="c-comment pointer">
    <div>
      <user-short-info
        :user="user"
      />
    </div>
    <div class="c-comment__text mont-light">
      <span class="ui-color-7">
        {{text}}
      </span>
      <span class="ui-color-10">
        Đọc thêm
      </span>
    </div>
  </div>
</template>

<script>
  import UserShortInfo from './UserShortInfo.vue'
  export default {
    name: 'Comment',
    props: {
      user: {
        avatar: '',
        name: '',
        date: ''
      },
      text: ''
    },
    components: {
      'user-short-info': UserShortInfo
    },
    created () {
      this.user = this.$props.user
      this.text = this.$props.text
    }
  }
</script>
