<template>
  <div class="c-double-devices row-start-center">
    <div
      class="c-double-devices__img left bg-contain"
      v-bind:style="{
        backgroundImage: 'url(' + doubleDevices.phone1 + ')'
      }"
    ></div>
    <div
      class="c-double-devices__img right bg-contain"
      v-bind:style="{
        backgroundImage: 'url(' + doubleDevices.phone2 + ')'
      }"
    ></div>
  </div>
</template>

<script>
  export default {
    name: 'DoubleDevices',
    props: {
      doubleDevices: {
        phone1: '',
        phone2: ''
      }
    },
    created () {
      this.doubleDevices = this.$props.doubleDevices
    }
  }
</script>
