<template>
  <div class="c-find-us">
    <h2 class="c-find-us__head mont-semi-bold">
      {{ findUs.head }}
    </h2>
    <div
      class="c-find-us__app top bg-cover"
      v-bind:style="{
        backgroundImage: 'url(' + findUs.iosImage + ')'
      }"
    ></div>
    <div
      class="c-find-us__app bottom bg-cover"
      v-bind:style="{
        backgroundImage: 'url(' + findUs.androidImage + ')'
      }"
    ></div>
    <div class="c-find-us__payments row-between-center">
      <div class="c-find-us__card bg-cover"
        v-bind:style="{
          backgroundImage: 'url(' + findUs.visaLogo + ')'
        }"
      ></div>
      <div class="c-find-us__card bg-cover"
        v-bind:style="{
          backgroundImage: 'url(' + findUs.masterCardLogo + ')'
        }"
      ></div>
      <div class="c-find-us__card bg-cover"
        v-bind:style="{
          backgroundImage: 'url(' + findUs.maestroLogo + ')'
        }"
      ></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FindUs',
    props: {
      findUs: {
        head: '',
        iosImage: '',
        androidImage: '',
        visaLogo: '',
        masterCardLogo: '',
        maestroLogo: ''
      }
    },
    created () {
      this.findUs = this.$props.findUs
    }
  }
</script>
