<template>
  <div class="c-footer-list">
    <h2 class="c-footer-list__head mont-semi-bold">
      {{data.head}}
    </h2>

    <ul class="c-footer-list__list">
      <li v-for="item in data.list" class="mont-light ui-color-07">
        {{item}}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'FooterList',
    props: {
      data: {}
    },
    created () {
      this.data = this.$props.data
    }
  }
</script>
