<template>
  <div class="c-footer">

  </div>
</template>

<script>
  export default {
    name: 'FooterX',
    props: {
      text: ''
    },
    created () {
      this.text = this.$props.text
    }
  }
</script>
