<template>
  <div class="c-help-suggestion flx-row">
    <div class="c-help-suggestion__img">
      <img :src="thumbImg" alt="">
    </div>
    <div class="c-help-suggestion__info">
      <h3 class="mont-semi-bold">{{title}}</h3>
      <h3 class="mont-light">{{priceInfo}}</h3>
    </div>
  </div>
</template>

<script>
	import '../sass/components/c-help-suggestion.scss'
	export default {
    name: 'HelpSuggestion',
    props: {
      'thumbImg': '',
      'title': '',
      'priceInfo': ''
    },
    created () {
      this.thumbImg = this.$props.thumbImg
      this.title = this.$props.title
      this.priceInfo = this.$props.priceInfo

      console.log(this.$props)
    }
	}
</script>
