<template>
  <div class="c-horizol-product flx-row shadow-1 border-1">
    <div class="c-horizol-product__img bg-cover" v-bind:style="{
      backgroundImage: 'url(' + thumbImg + ')'
    }">
    </div>
    <div class="c-horizol-product__info">
      <h3 class="mont-semi-bold c-horizol-product__title">{{title}}</h3>
      <h3 class="mont-light c-horizol-product__price">{{priceInfo}}</h3>
    </div>
  </div>
</template>

<script>
	export default {
    name: 'HorizolProduct',
    props: {
      'thumbImg': '',
      'title': '',
      'priceInfo': ''
    },
    created () {
      this.thumbImg = this.$props.thumbImg
      this.title = this.$props.title
      this.priceInfo = this.$props.priceInfo

      console.log(this.$props)
    }
	}
</script>
