<template>
  <div class="c-product-card rel pointer">
    <div
      class="c-product-card__img bg-cover radius-1"
      v-bind:style="{
        backgroundImage: 'url(' + bgImg + ')'
      }"
    ></div>
    <div class="c-product-card__info">
      <p class="c-product-card__info-1">
        <span class="c-product-card__info-2 mont-bold ui-color-8">{{houseStyle}}</span>
        <span class="c-product-card__info-3 mont-bold ui-color-8">.</span>
        <span class="c-product-card__info-2 mont-bold ui-color-8">{{houseType}}</span>
      </p>
      <h1 class="c-product-card__title mont-semi-bold">
        {{ houseName }}
      </h1>
      <div class="c-product-card__rates row-start-center">
        <ul class="c-product-card__stars row-start-center">
          <li>
            <div class="icon-box icon-box--14px col-center-center">
              <span class="icon-verify-big-icon"></span>
            </div>
          </li>
          <li>
            <div class="icon-box icon-box--14px col-center-center">
              <span class="icon-verify-big-icon"></span>
            </div>
          </li>
          <li>
            <div class="icon-box icon-box--14px col-center-center">
              <span class="icon-verify-big-icon"></span>
            </div>
          </li>
          <li>
            <div class="icon-box icon-box--14px col-center-center">
              <span class="icon-verify-big-icon"></span>
            </div>
          </li>
          <li>
            <div class="icon-box icon-box--14px col-center-center">
              <span class="icon-verify-big-icon"></span>
            </div>
          </li>
        </ul>

        <span class="c-product-card__number-rates mont ui-color-9">
          {{rateNumber}}
        </span>
      </div>

      <div class="c-product-card__info-5 row-start-center">
        <div class="icon-box col-center-center">
          <span class="icon-verify-big-icon"></span>
        </div>
        <p class="c-product-card__info-4 mont ui-color-5">
          {{price}}
        </p>
      </div>
      <div class="c-product-card__info-5 row-start-center">
        <div class="icon-box col-center-center">
          <span class="icon-verify-big-icon"></span>
        </div>
        <p class="c-product-card__info-4 mont ui-color-5">
          {{price}}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
    name: 'ProductCard',
    props: {
      'bgImg': '',
      'houseStyle': '',
      'houseType': '',
      'houseName': '',
      'rateNumber': '',
      'price': '',
      'location': '',
      'isFlash': '',
    },
    created () {
      this.bgImg = this.$props.bgImg
      this.houseStyle = this.$props.houseStyle
      this.houseType = this.$props.houseType
      this.houseName = this.$props.houseName
      this.rateNumber = this.$props.rateNumber
      this.price = this.$props.price
      this.location = this.$props.location
      this.isFlash = this.$props.isFlash
    }
	}
</script>
