<template>
  <div v-bind:class="switchStyle">
    <div
      class="c-simple-card__img bg-cover radius-1"
      v-bind:style="{
        backgroundImage: 'url(' + bgImg + ')'
      }"
    ></div>

    <div class="c-simple-card__info">
      <p class="c-simple-card__count mont-bold ui-color-8">
        {{ count }}
      </p>

      <p class="c-simple-card__des mont-light ui-color-5">
        {{ des }}
      </p>
    </div>
  </div>
</template>

<script>
	export default {
    name: 'SimpleCard',
    props: {
      'bgImg': '',
      'count': '',
      'des': '',
      'isShort': false,
    },
    created () {
      this.bgImg = this.$props.bgImg
      this.count = this.$props.count
      this.des = this.$props.des
      this.isShort = this.$props.isShort
    },
    computed: {
      switchStyle () {
          return this.isShort ? 'c-simple-card short' : 'c-simple-card'
      }
    }
	}
</script>
