<template>
  <div class="c-subscribe">
    <h2 class="c-subscribe__head mont-semi-bold ui-color-07">
      {{ subscribe.head }}
    </h2>

    <p class="c-subscribe__title mont-light ui-color-07">
      {{ subscribe.title }}
    </p>

    <input class="c-subscribe__email radius-1 border-10 bg-ui-11" type="text" placeholder="your@email.com">

    <p class="c-subscribe__des mont-light ui-color-07">
      {{ subscribe.des }}
    </p>

    <div class="c-subscribe__images row-start-center">
      <div class="c-subscribe__img bg-contain"
      v-bind:style="{
        backgroundImage: 'url(' + subscribe.registerLogo + ')'
      }"
      ></div>
      <div class="c-subscribe__img right bg-contain"
      v-bind:style="{
        backgroundImage: 'url(' + subscribe.dmcaLogo + ')'
      }"
      ></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Subscribe',
    props: {
      subscribe: {
        head: '',
        title: '',
        des: '',
        registerLogo: '',
        dmcaLogo: ''
      }
    },
    created () {
      this.subscribe = this.$props.subscribe
    }
  }
</script>
