<template>
  <div class="c-user-short-info row-start-center">
    <div class="c-user-short-info__avatar">
      <img class="full-box" v-bind:src="user.avatar" alt="">
    </div>
    <div class="c-user-short-info__info">
      <p class="c-user-short-info__name mont-semi-bold">{{ user.name }}</p>
      <p class="c-user-short-info__date mont">{{ user.date }}</p>
    </div>
  </div>
</template>

<script>

	export default {
    name: 'UserShortInfo',
    props: {
      user: {
        avatar: '',
        name: '',
        date: ''
      }
    },

    created () {
      this.user = this.$props.user
    }
	}
</script>
