<template>
  <div class="c-vertical-product rel pointer">
    <div
      class="c-vertical-product__img bg-cover full-box radius-1 index-1"
      v-bind:style="{
        backgroundImage: 'url(' + bgImg + ')'
      }"
    >

    </div>
    <div class="c-vertical-product__info abs index-2 ui-color-1 full-box">
      <h2 class="c-vertical-product__sub-text-1 mont-semi-bold">{{ locationName }}</h2>
      <p class="mont-light c-vertical-product__sub-text-2">
        <span>{{ priceInfo }}</span>
        <span class="rel c-vertical-product__dot">.</span>
        <span>{{ roomAmount }}</span>
      </p>
    </div>
  </div>
</template>

<script>
	export default {
    name: 'VerticalProduct',
    props: {
      'bgImg': '',
      'locationName': '',
      'priceInfo': '',
      'roomAmount': ''
    },
    created () {
      this.bgImg = this.$props.bgImg
      this.locationName = this.$props.locationName
      this.priceInfo = this.$props.priceInfo
      this.roomAmount = this.$props.roomAmount
    }
	}
</script>
