.c-app-introduction {
	&__logo {
		width: 532px;
		height: 100px;
	}

	&__title {
		font-size: 30px;
		line-height: 37px;
		margin-top: 27px;
	}

	&__des {
		font-size: 20px;
		line-height: 39px;
		max-width: 656px;

	}

	&__images {
		margin-top: 64px;
	}

	&__img {
		width: 180px;
		height: 56px;
	}

	&__img.right {
		margin-left: 10px;
	}
}