.c-find-us {
	&__head {
		font-size: 16px;
		line-height: 23px;
	}

	&__app {
		width: 180px;
		height: 56px;
		margin-top: 26px;
	}

	&__card {
		width: 100px;
		height: 60px;
		margin-top: 26px;
	}
}