.c-horizol-product {
	height: 96px;

	&__img {
		height: 100%;
		width: 124px;
	}

	&__info {
		padding-left: 5.8%;
	}

	&__title {
		font-size: 16px;
		line-height: 20px;
	}

	&__price {
		font-size: 14px;
		line-height: 20px;
		padding-top: 3.1%;
	}
}