.c-simple-card {
	&__img {
		height: 360px;
	}

	&__info {
		margin-top: 12px;
		font-size: 12px;
		line-height: 16px;
	}

	&__des {
		margin-top: 1px;
		font-size: 16px;
		line-height: 24px;
	}
}

.c-simple-card.short {
	.c-simple-card__img {
		height: 260px;
	}
}