.c-subscribe {
	&__head {
		font-size: 16px;
		line-height: 23px;
	}

	&__title {
		font-size: 16px;
		line-height: 40px;
		margin-top: 17px;
	}

	&__email {
		width: 300px;
		height: 40px;
		margin-top: 16px;
		padding-left: 12px;

		&::placeholder {
			font-size: 14px;
			line-height: 18px;
		}

		&:focus {
			outline: none;
		}
	}

	&__des {
		font-size: 16px;
		line-height: 40px;
		margin-top: 16px;
	}

	&__images {
		margin-top: 72px;
	}

	&__img {
		width: 172.7px;
		height: 53px;
	}
}