.c-user-short-info {
	height: 64px;

	&__avatar {
		overflow: hidden;
		width: 64px;
		height: 100%;
		
		img {
			border-radius: 50%;
		}
	}

	&__info {
		padding-left: 24px;
	}

	&__name {
		font-size: 16px;
		line-height: 23px;
	}

	&__date {
		font-size: 14px;
		line-height: 19px;
	}
}