.c-vertical-product {
	height: 618px;
	width: 100%;

	&__img {

		top: 0px;
		left: 0px;
	}

	&__info {
		bottom: 32px;
		height: auto;
		left: 32px;
	}

	&__sub-text-1 {
		font-size: 24px;
		line-height: 32px;
	}

	&__sub-text-2 {
		font-size: 16px;
		line-height: 21px;
		margin-top: 6px;
	}

	&__dot {
		top: -4px;
	}
}