.container {
	width: calc(100% - 20%);
	margin: auto;

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.lg-col-1 {
			width: calc(1 * (100% / 12) - 22px);
		}

		.lg-col-2 {
			width: calc(2 * (100% / 12) - 22px);
		}

		.lg-col-3 {
			width: calc(3 * (100% / 12) - 22px);
		}

		.lg-col-4 {
			width: calc(4 * (100% / 12) - 22px);
		}

		.lg-col-5 {
			width: calc(5 * (100% / 12) - 22px);
		}

		.lg-col-7 {
			width: calc(7 * (100% / 12) - 22px);
		}
	}
}