<template>
  <div class="c-title-complex row-start-center">
    <div class="c-title-complex__text">
      <h1 class="mont-semi-bold title-1 ui-color-7">
        {{ title }}
      </h1>
      <p class="c-title-complex__des mont-light">
        {{ des }}
      </p>
    </div>
    <div v-show="isHavingIcon" class="c-title-complex__icon col-center-center">
      <div class="icon-box">
        <span class="icon-verify-big-icon"></span>
      </div>
    </div>

  </div>
</template>

<script>
	export default {
    name: 'TitleComplex',
    props: {
      title: '',
      des: '',
      isHavingIcon: false,
    },

    created () {
      this.title = this.$props.title,
      this.des = this.$props.des
      this.isHavingIcon = this.$props.isHavingIcon
    },
	}
</script>
