.bg-contain {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}