.flx-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.row-between-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.row-start-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.col-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}