.mont-semi-bold {
	font-family: 'Montserrat-SemiBold';
}

.mont-light {
	font-family: 'Montserrat-Light';
}

.mont-bold {
	font-family: 'Montserrat-Bold';
}

.mont {
	font-family: 'Montserrat';
}
.mont-medium {
	font-family: 'Montserrat-Medium';
}